.container {
  margin: auto; max-width: 900px;
}

body {
  font-family: sans-serif;
}

.links {
  float: right;
}

p {
  color: black;
}


.banner {
  text-align: center;
  margin-top: 40px;
  background-color: grey;
}


.left {
  float: left;
  font-size: 20px;
  margin: 30px;
  max-width: 500px;
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
}

.right {
  float: right;
  margin: 30px;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  font-style: oblique;
  border-style: solid;
}


@media screen and (max-width:768px) {
  .left {
    float: none;
    font-size: 20px;
    margin: 30px;
    max-width: 500px;
    text-align: center;
  }

  .right {
    float: none;
    margin: 30px;
    max-width: 500px;
    font-size: 20px;
    text-align: center;
  }

}
